.page {
  display: flex;
  background: #fdfdfd;
  /* max-width: 1440px; */
  height: 100vh;
  background-image: url(../images/simpsons/bg-image-0.png);
  background-position: top center;
  background-size: cover;
  position: relative;
  flex-direction: column;
}
.page::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 0;
}

.main {
  flex: 1 0 auto;
  display: flex;
  align-items: start;
  justify-content: center;
  /* gap: 90px; */
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
